body {
  margin: 0;
  font-family: "Lucida Bright", Georgia, serif;
  background-color: rgb(43, 43, 43);
  width: 100%;
}

button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #777;
  color: white;
}
