.modal {
    display: flex;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
    align-items: center;
    flex-direction: column;

}

  .modal-content{
    background-color: rgba(222, 222, 222, 0.9);
    text-align: center;
    align-content: center;
    margin: 15% auto;
    border: 1px solid #888;
    width: 70%;
    height: 45%;
    border-radius: 8px;
    position: absolute;
  }

  .modal-bulk{
    display: flex;
    position: center;
    padding: 40px;
    height: 100%;
  }

  .modal-image{
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .image-modal{
    height: 80%;
  }

  .close{
    background-color: rgba(0, 0, 0, 0.49);
    color: rgb(188, 188, 188);
    border-radius: 8px;
    font-size: larger;
    border:none;
    transform: scale(1);
  }

  .modal-txt{
    padding-left: 40px
  }

